.add-button-container {
  display: flex;
  gap: 8px;
}

.management-page {
  height: 90vh;
  margin: 16px;
}


mat-tab-group {
  border-radius: 12px;
  overflow: hidden;

  .mat-mdc-tab-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
  }
}
