.page-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.avatar-fallback {
  background-color: #e0e0e0; /* Subtle Material Grey */
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Perfect circle */
}

/* Ensure the material vector icon resizes proportionally within the 40px circle */
.avatar-fallback mat-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.widget-grid {
  display: flex;
}

.data-row {
  font-size: 16px;
  margin: 8px;
}

.button-row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.logout {
  background-color: crimson;
}
