<div class="backdrop">
  <div class="table-panel">
    <div class="mat-elevation-z2">
      <table
        mat-table
        class="full-width-table"
        aria-label="Elements"
        [dataSource]="serviceUserState.serviceUsers()"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>姓名</th>
          <td mat-cell *matCellDef="let row">
            @if (this.serviceUserState.isEditing(asRow(row))) {
              <mat-form-field>
                <mat-label>服務使用者名稱</mat-label>
                <input
                  matInput
                  [ngModel]="serviceUserState.getBuffer(asRow(row)).name"
                  (ngModelChange)="serviceUserState.updateRow(asRow(row).ID, 'name', $event)"
                  [disabled]="serviceUserState.getBuffer(asRow(row)).deleted"
                />
              </mat-form-field>
            } @else {
              {{ asRow(row).name }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="livingSpace">
          <th mat-header-cell *matHeaderCellDef>住宿房間</th>
          <td mat-cell *matCellDef="let row">
            @if (this.serviceUserState.isEditing(asRow(row))) {
              <mat-select
                [ngModel]="serviceUserState.getBuffer(asRow(row)).living_space"
                (ngModelChange)="serviceUserState.updateRow(asRow(row).ID, 'living_space', $event)"
                [compareWith]="activeAreaService.compareLivingSpace"
                [disabled]="serviceUserState.getBuffer(asRow(row)).deleted"
              >
                <mat-select-trigger>
                  {{ getRowName(row) }}
                </mat-select-trigger>
                <mat-option [value]="activeAreaService.LIVING_SPACE_CLEAR_OPTION"
                  >非住宿</mat-option
                >
                @for (livingSpace of activeAreaService.livingSpaces(); track $index) {
                  <mat-option [value]="livingSpace">{{ livingSpace.name }}</mat-option>
                }
              </mat-select>
            } @else {
              {{ asRow(row).living_space ? asRow(row).living_space!.name : '非住宿' }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="nickname">
          <th mat-header-cell *matHeaderCellDef>暱稱</th>
          <td mat-cell *matCellDef="let row">
            @if (this.serviceUserState.isEditing(asRow(row))) {
              <mat-form-field>
                <mat-chip-grid
                  #chipGrid
                  [disabled]="serviceUserState.getBuffer(asRow(row)).deleted"
                >
                  @for (
                    nickname of serviceUserState.getBuffer(asRow(row)).service_user_nicknames;
                    track $index
                  ) {
                    <mat-chip-row
                      (removed)="removeNickname(asRow(row), nickname)"
                      [editable]="true"
                      (edited)="editNickname(asRow(row), nickname, $event)"
                    >
                      <button matChipEdit>
                        <mat-icon>edit</mat-icon>
                      </button>
                      {{ nickname.nickname }}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                </mat-chip-grid>
                <input
                  placeholder="新暱稱"
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addNickname(asRow(row), $event)"
                  #chipInput
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="addNicknameFromButton(asRow(row), chipInput)"
                  [disabled]="serviceUserState.getBuffer(asRow(row)).deleted"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
            } @else {
              {{
                asRow(row)
                  .service_user_nicknames.map((nn) => nn.nickname)
                  .join(',')
              }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="activeStatus">
          <th mat-header-cell *matHeaderCellDef>在院</th>
          <td mat-cell *matCellDef="let row">
            @if (this.serviceUserState.isEditing(asRow(row))) {
              <mat-slide-toggle
                [ngModel]="serviceUserState.getBuffer(asRow(row)).active"
                (ngModelChange)="serviceUserState.updateRow(asRow(row).ID, 'active', $event)"
                [disabled]="serviceUserState.getBuffer(asRow(row)).deleted"
              >
                {{ serviceUserState.getBuffer(asRow(row)).active ? '在院' : '非在院' }}
              </mat-slide-toggle>
            } @else {
              {{ asRow(row).active ? '在院' : '非在院' }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="editRow">
          <th mat-header-cell *matHeaderCellDef>編輯</th>
          <td mat-cell *matCellDef="let row" class="edit-cell">
            @if (serviceUserState.editingRows()[asRow(row).ID]) {
              @if (serviceUserState.getBuffer(asRow(row)).deleted) {
                <div class="non-destructive">
                  <button matMiniFab class="sq-fab-danger" (click)="commitEdit(asRow(row))">
                    <mat-icon>done_outline</mat-icon>
                  </button>
                  <button
                    matMiniFab
                    class="sq-fab-cancel"
                    (click)="serviceUserState.updateRow(asRow(row).ID, 'deleted', false)"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              } @else {
                <div class="editing-buttons">
                  <div class="non-destructive">
                    <button matMiniFab class="sq-fab-success" (click)="commitEdit(asRow(row))">
                      <mat-icon>done_outline</mat-icon>
                    </button>
                    <button matMiniFab class="sq-fab-warning" (click)="undoEdit(asRow(row))">
                      <mat-icon>undo</mat-icon>
                    </button>
                    <button matMiniFab class="sq-fab-cancel" (click)="cancelEdit(asRow(row))">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                  <div class="destructive">
                    <button
                      matMiniFab
                      class="sq-fab-danger"
                      (click)="serviceUserState.updateRow(asRow(row).ID, 'deleted', true)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              }
            } @else {
              <button matMiniFab class="sq-fab-edit" (click)="editRow(asRow(row))">
                <mat-icon>edit</mat-icon>
              </button>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          class="mat-row"
          *matRowDef="let row; let i = index; columns: displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="serviceUserState.length()"
        [pageSize]="serviceUserState.currentPageSize()"
        [pageIndex]="serviceUserState.currentPageIndex()"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="pageChanged($event)"
        aria-label="Select page"
        showFirstLastButtons
        class="sticky-paginator"
      >
      </mat-paginator>
    </div>
  </div>
</div>
