<div class="building-management">
  <app-building-breadcrumbs></app-building-breadcrumbs>
  <router-outlet></router-outlet>
  <div class="refresh-button-container">
    @if (pageStr().length > 0) {
      <button matFab extended color="primary" class="sq-fab-edit" (click)="pageFunc()">
        <mat-icon>add</mat-icon>{{ pageStr() }}
      </button>
    }
    <button
      matFab
      extended
      color="primary"
      class="sq-fab-edit"
      (click)="buildingService.reloadBuildings()"
    >
      <mat-icon>refresh</mat-icon>
      重新整理
    </button>
    @if (deleteStr().length > 0) {
      <button matFab extended class="sq-fab-danger" (click)="deleteFunc()">
        <mat-icon>delete</mat-icon>{{ deleteStr() }}
      </button>
    }
  </div>
</div>
