.button-container {
  position: fixed;
  bottom: 1%;
  width: 98%;
  z-index: 100;
  display: flex;
  gap: 16px;
  pointer-events: none;
  .add-button-container {
    pointer-events: auto;
  }
  .refresh-button-container {
    pointer-events: auto;
  }
}

.description {
  display: flex;
  justify-content: center;
}

.mat-expansion-panel-content {
  display: block !important;
}
.mat-expansion-panel-body {
  visibility: visible !important;
}

mat-accordion,
mat-expansion-panel {
  flex-basis: auto !important;
}
